.notes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.notes__add_form {
  position: relative;
  top: 25px;
  max-width: 600px;
  width: 100%;
  border: 1px solid rgb(77, 77, 77);
  border-radius: 5px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  height: auto;
}

.form__group {
  padding: 10px;
  height: auto;
  cursor: text;
}

.form__group input,
.form__group textarea {
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  overflow: hidden;
  font-weight: 400;
}

.notes__add_form button {
  float: right;
  cursor: pointer;
  margin: 10px;
  background: transparent;
  color: rgb(219, 219, 219);
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: bold;
}

.form__group input,
.form__group input::placeholder {
  font-size: 1.3rem;
}

textarea {
  resize: none;
  height: 15px;
}

input::placeholder,
textarea::placeholder {
  color: rgb(167, 167, 167);
  font-size: 1rem;
  font-weight: bold;
}

.collapse {
  height: 15px;
  overflow: hidden;
}

.hide {
  display: none;
}

.focused,
textarea.focused::placeholder {
  font-size: 0.9rem;
}

.notes_list {
  padding: 10px 0px;
  margin-top: 50px;
  position: relative;
  color: rgb(235, 235, 235);
  max-width: 600px;
  width: 100%;
}

.note_item {
  width: 100%;
  margin: 10px 0px;
}

.note_card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 10px;
}

.note_card h3 {
  margin: 0;
  font-size: 1.2rem;
}

.note_card p {
  margin: 8px 0px;
  white-space: pre-wrap;
}

.note_action {
  margin-top: 10px;
  height: 30px;
}

.note_action_options {
  display: none;
}

.note_card:hover .note_action_options {
  display: flex;
}

.note_action i {
  cursor: pointer;
  color: rgb(240, 240, 240);
  font-size: 0.8rem;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.note_action i:hover {
  color: lightgray;
  background: rgba(154, 160, 166, 0.157);
}

.colorpicker {
  position: absolute;
  top: -50px;
  left: 0;
  z-index: 999;
}

.form_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form_bottom i {
  color: gray;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3px 10px;
  cursor: pointer;
}

.form_bottom i:hover {
  background: rgba(154, 160, 166, 0.157);
}

.select_color {
  position: absolute;
  right: 150px;
  cursor: pointer;
}

.select_color i {
  color: #fff;
}
