@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400&display=swap");

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App__content {
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.App__content aside {
  flex: 0.27;
}

.App__content section {
  flex: 1;
  background: #202124;
}

.App header {
  position: sticky;
  top: 0;
  z-index: 999;
}
